* {
    box-sizing: border-box;
    font-family: "Source Code Pro";
    margin: 0px;
    padding: 0px;
}

body {
    background: rgb(202, 202, 202);
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 10%;
}


.card, .input--form {
    background-color: whitesmoke;
    border: solid black 1px;
    border-radius: 60px;
}

.input--form {
    height: 300px;
    width: 200px;
}

.card {
    width: 938px;
    height: 626;
    display: flex;
    background-image: url("./images/callmeifyougetlostid.png");
    background-size: 938px 626px;
    background-repeat: no-repeat;
    gap: 20px;
}

.card--pic {
    height: 430px;
    width: 350px;
    object-fit: cover;
    margin-top: 80px;
    margin-left: 80px;
    border: solid white 15px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 50px;
}

input {
    width: auto;
    height: 16px;
    border: grey solid 1px;
    border-radius: 3px;
    font-size: 12px;
}

.card--text {
    margin-top: 20px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./images/logo.PNG");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center bottom;
}

h1 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 50px;
    text-align: center;
}

h2 {
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    padding: 18px;
}

p, h3, h4 {
    font-weight: 400;
    font-size: 12px;
    max-width: 400px;
    overflow: hidden;
}



p {
    white-space: nowrap;
    padding-top: 25px;

}

h4 {
    padding: 10px;
}

h3 {
    padding: 0px;
    text-align: left;
}

.signature--label {
    text-align: right;
    font-style: italic;
}

.card--signature {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding-top: 40px;
    
}

.input--card {
    position:relative;
}

h5 {
    font-family: "Annie Use Your Telescope";
    position: absolute;
    text-align: left;
}

.output--user {
    top: 160px;
    left: 450px;
}

.output--dob {
    top: 182;
    left: 450px;
}

.output--place {
    top: 204px;
     left: 450px;
}

.output--type {
    top: 226px;
     left: 450px;
}

.output--sign {
    font-family: "Parisienne";
    font-size: 20px;
    top: 328px;
     left: 400px;
}